.root {
    width: 100vw;
    height: 100vh;
}

.container {
    display: flex;
    justify-content: space-around;
}

.tasks_holder {
    margin-top: 20px;
    background-color: rgb(203, 203, 203);
    border-radius: 5px;
    width: 500px;
}

.tasks_container {
    margin-bottom: 20px;
}

.tasks_header {
    margin-top: 10px;
    text-align: center;
}

.task {
    height: 50px;
    margin: 10px 20px;
    margin-bottom: 0px;
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}